/* IMPORTANT */

@import url('https://fonts.googleapis.com/css2?family=Inconsolata&display=swap');

:root{
    --main-accent: rgb(69, 95, 91);
    --secondary-accent: #ffffff;
    --link-unvisited: rgb(97, 141, 134);
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* IMPORTANT */

body{
    background-color: #f9f9f9;
    font-family: 'Inconsolata', monospace;
}

/* HEADER STYLES START */
header{
    background-color: var(--secondary-accent);
    padding: 10px 10px 10px 0px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

header h1{
    font-weight: bold;
    font-size: 30px;
    display: inline;
    margin: 0px;
    color: var(--main-accent);
}

header nav{
    margin: 20px 0px;
}
/* HEADER STYLES START */

/* NAV STYLES START */
nav ul li{
    font-size: 20;
    list-style-type: none;
    display: inline;
    color: var(--main-accent);
    text-decoration: none;
    /*border-bottom: 3px solid var(--main-accent);*/
}

nav li a:link{
    color: var(--main-accent);
    text-decoration: none;
    padding: 5px;
    border-bottom: 3px solid var(--main-accent);
}

nav li a:hover, a:visited{
    text-decoration: none;
    border-bottom: none;
    color: var(--main-accent);
}
/* NAV STYLES END */

  /* FOOTER STYLES START */
  footer{
    padding: 10px 10px;
    margin: 0px;
    background-color: var(--secondary-accent);
}
  /* FOOTER STYLES END */

  /* MAIN STYLES START */
.my-intro h3{
    font-size: 40px;
    text-align: center;
    padding: 15px 15px;
    margin: 10px;
}

.my-intro p{
    text-align: center;
    color: var(--main-accent)
}
/* MAIN STYLES END */

/* INFO SECTIONS START */
#main{
    padding: 5px 10px 5px 10px;
}

#main a:link, a:hover, a:visited{
    color: var(--main-accent);
    text-decoration: none;
}

.my-info{
    padding: 90px;
    margin: 90px;
    font-size: 15px;
    border: 1px solid #eee;
    background-color: var(--secondary-accent);
    display: flex;
    flex-direction: row;
    align-items: stretch;
}

.my-info h2{
    font-size: 20px;
    width: 15%;
    border-right: 3px solid var(--main-accent);
    height: 70px;
    justify-content: flex-end;
    text-align: right;
    padding-right: 10px;

}

.my-info p{
    width: 80%;
    padding-left: 10px;
}

.my-info ul{
    width: 80%;
    padding-left: 10px;
}
/* INFO SECTIONS END */

/* WORK SECTIONS START */
.my-info a:link{
    color: var(--link-unvisited);
}

.my-info a:hover, a:visited{
    text-decoration: none;
    color: var(--main-accent);
}
/* WORK SECTIONS END */

/* CONACT ME SECTIONS START */
.my-contact{
    display: inline;
    font-size: 15px;
}

.my-link { 
    flex: 1; 
    margin: 0 1%;
    text-align: center;
  }

.my-link a:link{
    color: var(--link-unvisited);
}

  .my-link a:hover, a:visited { 
      text-decoration: none;
      color: var(--main-accent);
  }
  /* CONACT ME SECTIONS END */