/* IMPORTANT */
@import url('https://fonts.googleapis.com/css2?family=Inconsolata&display=swap');

:root{
    --green: #6a8c7c;
    --light-green: #84af9b;
    --white: #ffffff;
    --grey: #666;
    --blue: #175880;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/* IMPORTANT */

body{
    background-color: #f9f9f9;
    font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
    letter-spacing: .1em;
    color: var(--grey);
}

/* HEADER STYLES START */
header{
    background-color: #84af9b;
    padding: 10px 10px 10px 0px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

header h1{
    font-weight: bold;
    font-size: 30px;
    display: inline;
    margin: 0px;
    color: var(--green);
    font-family: 'Inconsolata', monospace;
}

header nav{
    margin: 10px 0px;
}
/* HEADER STYLES END */

/* NAV STYLES START */
nav ul li{
    font-size: 20;
    list-style-type: none;
    display: inline;
    text-decoration: none;
    font-family: 'Inconsolata', monospace;
}

nav li a{
    color: var(--white);
    text-decoration: none;
    padding: 5px;
    border-bottom: 3px solid var(--white);
}

nav li a:hover, a:visited{
    text-decoration: none;
    border-bottom: none;
    color: var(--white);
}

#main-title{
    padding: 5px 10px 5px 10px;
}
/* NAV STYLES END */

/* MAIN HEADING STYLES START */
.main-heading h2{
    font-size: 40px;
    text-align: center;
    padding: 15px 15px;
    margin: 10px;
    color: #222;
    font-family: 'Inconsolata', monospace;
}

.main-heading p{
    text-align: center;
    color: var(--green);
    font-family: 'Inconsolata', monospace;
}
/* MAIN HEADING STYLES END */

/* ABOUT ME SECTION START */

.my-info{
    padding: 90px;
    margin: 90px;
    font-size: 15px;
    border: 1px solid #ebecee;
    background-color: var(--white);
    display: flex;
    flex-direction: row;
    align-items: stretch;
}

.my-info h3{
    font-size: 20px;
    width: 15%;
    border-right: 3px solid var(--green);
    height: 70px;
    justify-content: flex-end;
    text-align: right;
    padding-right: 10px;
    color: #222;

}

.my-info p{
    width: 80%;
    padding-left: 10px;
}

.my-info ul{
    width: 80%;
    padding-left: 10px;
}
/* ABOUT ME SECTION END */

/* WORKS SECTION START */
.my-info a{
    color: var(--blue);
    font-weight: bold;
}
/* WORKS SECTION END */

/* CONTACT ME SECTION START */
.my-contact{
    display: inline;
    font-size: 15px;
}

.my-link { 
    flex: 1; 
    margin: 0 1%;
    text-align: center;
}

.my-link a{
      color: var(--blue);
      font-weight: bold;
}
  /* CONTACT ME SECTION END */

  /* FOOTER STYLES START */
  footer{
    padding: 10px 10px;
    margin: 0px;
    background-color: var(--light-green);
    color: var(--white);
    font-family: 'Inconsolata', monospace;
}
/* FOOTER STYLES END */